# Convert NetCDF File to ASCII

This jupyter notebook deomonstrates the `netcdf2ascii.py` utility that converts a GOES ET NetCDF file to the legacy ascii format.

**NOTE:** the input NetCDF file `data\fl.et.2019.v.0.1.nc` is not provided in this repository. Please download the file separately and place in the `data\` directory or update the code block below to reflect the location of the file on your system.

Run the `netcdf2sacii.py` script with the required argument specifying the input file name. User may optionally supply the name of the output file, otherwise a name is generated automatically. This generally will take a few minutes to run due to the large size of the output file to be written.

In [1]:
%run ..\netcdf2ascii.py data\fl.et.2019.v.1.0.nc

data\fl.et.2019.v.1.0.nc -> data\fl.et.2019.v.1.0.txt
Reading spatial information
Writing output to data\fl.et.2019.v.1.0.txt

Lastly, let's take a look at the output file as a `Pandas.DataFrame` object. We'll just read in the first couple of days of data so this runs quickly (loading the entire dataset takes several minutes depending on disk i\o speed).

In [2]:
# import the library
import goeset

fname = r'data\fl.et.2019.v.1.0.txt'
etf = goeset.GoesAsciiFile(fname)

# Fetch only the first 2 days of data
npix = 39175
nday = 2
df = etf.get_dataframe(nrows=npix * nday)
df

,YYYYMMDD,Lat,Lon,NRpix,RET,PET,RS,Albedo,Tmin,Tmax,Rhmin,Rhmax,Ws
0,2019-01-01,24.554,-82.113,8390,3.727,3.348,15.43,0.048,20.076,27.221,55.519,97.906,5.813
1,2019-01-01,24.554,-81.807,8406,3.818,3.031,16.31,0.136,20.087,27.639,55.490,98.441,5.718
2,2019-01-01,24.554,-81.788,8407,3.801,3.077,16.06,0.121,20.085,27.662,55.505,98.455,5.716
3,2019-01-01,24.572,-82.094,8865,3.794,3.556,16.37,0.047,20.051,27.245,55.405,97.972,5.774
4,2019-01-01,24.572,-81.749,8883,3.821,3.315,16.29,0.089,20.052,27.716,55.434,98.504,5.683
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78345,2019-01-02,30.985,-85.096,177926,1.116,0.848,4.99,0.087,16.930,25.713,68.231,98.508,1.706
78346,2019-01-02,30.985,-85.076,177927,1.112,0.883,5.06,0.075,16.906,25.669,68.623,98.519,1.711
78347,2019-01-02,30.985,-85.057,177928,1.088,0.864,4.85,0.065,16.877,25.627,69.021,98.527,1.716
78348,2019-01-02,30.985,-85.038,177929,1.095,0.909,5.07,0.062,16.844,25.588,69.418,98.532,1.721
78349,2019-01-02,30.985,-85.019,177930,1.082,0.947,5.01,0.035,16.809,25.551,69.804,98.535,1.726